<!DOCTYPE html>
<html>

	<head>
		<title>
			Dashboard page
		</title>
		<meta charset='utf-8' />
		<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
		<link rel="manifest" href="/fav/site.webmanifest">
		<link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link href='css/normalize.css' rel='stylesheet' />
		<meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		

			<link href='css/dashboard.css' rel='stylesheet' />
	
	</head>

	<body>
	  <div class="page page--dashboard">
		<aside class="page__aside vertical vertical--big aside">
			<div class="text aside__logo">
				Sidebar
			</div>
			<nav class="vertical vertical--small">
				<a href="# " class="nav-button nav-button--active click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/home.svg');"></span>
					<span class="text text--light">Home</span>
				</a>
				<a href="# " class="nav-button click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/order.svg');"></span>
					<span class="text text--light">Orders</span>
				</a>
				<a href="# " class="nav-button click">
					<span class="icon nav-button__icon" style="background-image: url('/svg/nav/products.svg');"></span>
					<span class="text text--light">Products</span>
				</a>
			</nav>
		</aside>
		<header class="header">
				<div class="layout header__content text--small">
					<div class="header__search relative">
						<input type="text" placeholder="Search" class="text field field--header">
						<span class="icon icon__header-search"style="background-image: url('/svg/header/search.svg');"></span>
						<span class="icon icon--header-settings icon--button icon--color-blue click"style="background-image: url('/svg/header/setting.svg');"></span>
					</div>
					<div class="header-icon-list">
						<span class="icon icon--button icon--header-list-item icon--color-yellow click"style="background-image: url('/svg/header/antena.svg');"></span>
						<span class="icon icon--button icon--header-list-item icon--color-light-blue click"style="background-image: url('/svg/header/japan.svg');"></span>
						<span class="icon icon--button icon--header-list-item icon--color-yellow click"style="background-image: url('/svg/header/bell.svg');"></span>
					</div>
				</div>
		</header>
		<main class="main">
			<div class="layout">
				<section class="box analinic__block">
					<div class="analitic analitic--duble analitic--porple">
						<span class="icon analitic__button icon--button icon--color-purple click"style="background-image: url('/svg/analitic/dollar.svg');"></span>
						<div class="relative vertical vertical--small">
							<div class="analitic__title text text--light">$500</div>
							<div class=" text text--small text--lighter">Total earning</div>
							<span class="icon analitic__arrow"style="background-image: url('/svg/analitic/purple_arrow.svg');"></span>
						</div>
					</div>
					<div class="analitic analitic--duble analitic--blue">
						<span class="icon analitic__button icon--button icon--color-blue click"style="background-image: url('/svg/analitic/order.svg');"></span>
						<div class="relative vertical vertical--small">
							<div class="analitic__title analitic__title text text--light">$961</div>
							<div class=" text text--small text--lighter">Total Order</div>
						</div>
					</div>
					<div class="analitic analitic--blue analitic--small">
						<span class="icon analitic__button icon--button icon--color-blue click"style="background-image: url('/svg/analitic/dollar.svg');"></span>
						<div class="relative vertical vertical--small">
							<div class="text analitic__title analitic__title--small text--lighter">$203k</div>
							<div class=" text text--small text--lighter">Total Income</div>
							
						</div>
					</div>
					<div class="analitic analitic--small analitic--withe">
						<span class="icon analitic__button icon--button icon--color-yellow click"style="background-image: url('/svg/analitic/shop.svg');"></span>
						<div class="relative vertical vertical--small">
							<div class="text analitic__title analitic__title--small analitic__title--black">$203k</div>
							<div class=" text text--small text--gray">Total Income</div>
						</div>
					</div>
				 
				</section>
					<section class="main main__double">
					<div class="box">
						<div class="text text--heading text--bold">Purchase list</div>
						<hr class="main__hr">
						<div class="purchese-grid">
							<div class="purchese-item">
								<p class="text">ID437661</p>
								<p class="text">May 11, 2023, 14:21</p>
							</div>
							<div class="purchese-item">
								<p class="text">AirOn ProCam</p>
								<p class="text">7/8 USB Type-C</p>
							</div>
							<div class="purchese-item">
								<p class="text">132.32 EUR</p>
								<p class="text text--red">Not paid</p>
							</div>
							<div class="purchese-item">
								<p class="text">Customer</p>
								<p class="text">robin@com.de</p>
							</div>
						</div>
						<hr class="main__hr">
						<div class="purchese-grid">
							<div class="purchese-item">
								<p class="text">IID437661</p>
								<p class="text">May 11, 2023, 14:21</p>
							</div>
							<div class="purchese-item">
								<p class="text">PHILIPS Essential</p>
								<p class="text">HD9200/90</p>
							</div>
							<div class="purchese-item">
								<p class="text">543 USD</p>
								<p class="text text--grin">Pay by Stripe</p>
							</div>
							<div class="purchese-item">
								<p class="text">Customer</p>
								<p class="text">dima@com.ua</p>
							</div>
						</div>
					    <div>

						</div>
					</div>
					<div class="main__purchese">
						<div class="vertical--small radio-list">
							<div class="radio-item">
								<input type="radio" id="r1" name="rr" class="radio" />
								<label for="r1" class="text text--dark">Credit card</label>
							</div>
							<div class="radio-item">
								<input type="radio" id="r2" name="rr" class="radio" />
								<label for="r2" class="text text--dark">Debit card</label>
							</div>
							<div class="radio-item">
								<input type="radio" id="r3" name="rr" class="radio" />
								<label for="r3" class="text text--dark">PayPal</label>
							</div>
						</div>
						<div class= "input-list vertical">
							<div>
								<label class="text text--dark text--small">Name on card</label>
								<input type="text" class="text field field--header" />
							</div>
							<div>
								<label class="text text--dark text--small">Credit card number</label>
								<input type="text" class="text field field--header" />
							</div>
							<div>
								<label class="text text--dark text--small">Expiration</label>
								<input type="text" class="text field field--header" />
							</div>
							<div>
								<label class="text text--dark text--small">CVV</label>
								<input type="text" class="text field field--header" />
							</div>
						</div>
						<div class="input-list vertical">
							<div>
								<p class="text text--dark text--small">Country</p>
								<span class="field field--checklist">
								<select name="" id="">
									<option value="" class= "text--dark text--small"> Choose...</option>
								</select>  </span>
							</div>
							<div>
								<p class="text text--dark text--small">State</p>
								<span class="field field--checklist">
								<select name="" id="">
									<option value="" class= "text--dark text--small"> Choose...</option>
								</select>  </span>
							</div>
						</div>
					</div>
				</section>
			</div>	
		
		</main>

	  </div>
	</body>

</html>
