<main class="m-5">
    <div lang="fr"class="card m-5 p-5 card-dark">
        <p id="test">
            Hello	World!
        </p>
        <p id="test">
            Hello	World! Hello	World! Hello	World!
        </p>
        <span>Test</span>
    </div>
    <pre>
            ghjk
    </pre>
</main>


    